.app-grid{
    height: 94vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:50px 110px repeat(2, 130px);
    grid-template-areas: 
        ". . . . ."
        ". i i i ."
        ". box1 box2 box3 ."
        ". box1 box2 box3 .";
        
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-image: url('/assets/backgrounda.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Noto Sans', sans-serif;

    .instrucciones{
        grid-area: i;
        background-color: rgba(173, 216, 230, 0.5);
        padding: 15px;
        border-radius: 10px;
        hr{
            margin-bottom: 10px;
        }

        .titulo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                margin-right: 20px;
            }
        }

        
    }
    

    .app-box{
        border-radius: 10px;
        padding: 20px ;
        -webkit-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);
        -moz-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);
        box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(86, 86, 136);
        color: white;
        
        .titulo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                margin-right: 20px;
            }

            h2 {
                font-family: 'Noto Sans', sans-serif;
                font-size: 22px;
            }
        }

        p{
            font-family: 'Noto Sans', sans-serif;
            font-size: 15px;
        }

        .button {
            font-size: 18px;
            font-weight: 500;
            font-family:'Montserrat', sans-serif;
            color: black;
            border: none;
            padding: 10px;
            border-radius: 20px;
            background-image: radial-gradient( circle 827px at 47.3% 48%,  rgba(255,255,255,1) 0%, rgba(138,192,216,1) 90% );
            cursor: pointer;
            transition-property: all;
            transition-duration: .4s;
            text-decoration: none;

            display: flex;
            justify-content: space-around;
            align-items: center;

            img {
                width: 20px;
                height:20px;
                margin-left: 10px;
            }

            &:hover {
                -webkit-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);
                -moz-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);
                box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);
                color: rgb(86, 86, 136);
            }
        }
    }
    
    .app-box1{
        grid-area: box1;
    }
    
    .app-box2{
        grid-area: box2;
    }
    
    .app-box3{
        grid-area: box3;
    }
}

