.app-grid{
    height: 94vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        ". . . . ."
        ". box1 box2 box3 ."
        ". box1 box2 box3 ."
        ". . . . .";
    grid-column-gap: 30px;
    background-image: url('/assets/backgrounda.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    

    .app-box{
        border-radius: 10px;
        padding: 20px ;
        -webkit-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);
        -moz-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);
        box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #C9CCD3;
        background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
        background-blend-mode: lighten;
        
        .titulo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                margin-right: 20px;
            }

            h1 {
                font-family: 'Noto Sans', sans-serif;
                font-size: 25px;
            }
        }

        p{
            font-family: 'Noto Sans', sans-serif;
        }

        .button {
            font-size: 18px;
            font-weight: 500;
            font-family:'Montserrat', sans-serif;
            color: black;
            border: none;
            padding: 10px;
            border-radius: 20px;
            background-image: radial-gradient( circle 827px at 47.3% 48%,  rgba(255,255,255,1) 0%, rgba(138,192,216,1) 90% );
            cursor: pointer;
            transition-property: all;
            transition-duration: .4s;
            text-decoration: none;

            display: flex;
            justify-content: space-around;
            align-items: center;

            img {
                width: 20px;
                height:20px;
                margin-left: 10px;
            }

            &:hover {
                background: #486b6d;  /* fallback for old browsers */
                -webkit-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);
                -moz-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);
                box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.45);
                color: white;
            }
        }
    }
    
    .app-box1{
        grid-area: box1;
    }
    
    .app-box2{
        grid-area: box2;
    }
    
    .app-box3{
        grid-area: box3;
    }
}

