header {
    background-color:lightgray;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-family:'Montserrat', sans-serif;
    padding:10px;

    h1{
        font-size: 30px;

        span{
            font-weight: 300;
        }
    }
    .titulo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
            width: 37px;
            height: 37px;
            margin-right: 10px;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-right: 30px;
        li{
            margin-left:20px;
            a{
                color: rgb(66, 65, 65);
                text-decoration: none;
                &:hover{
                    color: black;
                }
            }
        }
    }
}







