.sidebar {

    .titulo {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        h1{
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}