.sidebar {
    overflow: auto;
    .titulo {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        h1{
            font-weight: 300;
            letter-spacing: 1px;
            margin: 0;
            padding: 0
        }
    }

    .reporte {
        display: flex;
        justify-content:center;
        margin-bottom: 15px;
        .btn-reporte{
            display: flex;
            align-items: center;
            padding: 10px;
            border-color: #4F4F8F;
            border-radius: 5px;
            color: #4F4F8F;
            background-color: white;

            i {
                font-size: 40px;
                margin-right: 10px;
            }
        }

        .btn-reporte:hover{
            color: white;
            background-color: #4F4F8F;
            border-color: white;
        }
    }


    .guia{
        padding: 10px;
        text-align: center;
    }
}