@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");
header {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

header h1 {
  font-size: 30px;
}

header h1 span {
  font-weight: 300;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin-right: 30px;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  color: #424141;
  text-decoration: none;
}

header ul li a:hover {
  color: black;
}

.app-grid {
  height: 94vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: ". . . . ." ". box1 box2 box3 ." ". box1 box2 box3 ." ". . . . .";
  grid-column-gap: 30px;
  background-image: url("/assets/backgrounda.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.app-grid .app-box {
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.45);
  box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #C9CCD3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: lighten;
}

.app-grid .app-box .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-grid .app-box .titulo img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.app-grid .app-box .titulo h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
}

.app-grid .app-box p {
  font-family: 'Noto Sans', sans-serif;
}

.app-grid .app-box .button {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-image: radial-gradient(circle 827px at 47.3% 48%, white 0%, #8ac0d8 90%);
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-grid .app-box .button img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.app-grid .app-box .button:hover {
  background: #486b6d;
  /* fallback for old browsers */
  -webkit-box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.45);
  box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.45);
  color: white;
}

.app-grid .app-box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: box1;
}

.app-grid .app-box2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: box2;
}

.app-grid .app-box3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: box3;
}

.app-container {
  height: 94vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] 20rem;
      grid-template-columns: repeat(3, 1fr) 20rem;
  -ms-grid-rows: 6rem (1fr)[2];
      grid-template-rows: 6rem repeat(2, 1fr);
      grid-template-areas: "box1 box1 box1 box1" "box3 box3 box3 box2" "box3 box3 box3 box2";
  font-family: 'Noto Sans', sans-serif;
}

.app-container h1 {
  font-size: 20px;
  padding-bottom: 5px;
}

.app-container span {
  font-weight: 400;
}

.app-container p {
  font-size: 15px;
  padding-bottom: 8px;
}

.app-container img {
  width: 70px;
  height: 70px;
  margin-right: 30px;
}

.app-container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.instrucciones {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: box1;
  background-color: #4f4f8f;
  color: white;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: box2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.map {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: box3;
  border-right: solid 1px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=index.css.map */