@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
@import url("https://unicons.iconscout.com/release/v2.1.3/css/unicons.css");
header {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

header h1 {
  font-size: 30px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin-right: 30px;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
}

main {
  height: 94vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: ". . . . ." ". box1 box2 box3 ." ". box1 box2 box3 ." ". . . . .";
  grid-column-gap: 30px;
  background-image: url("/backgrounda.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

main .app-box {
  border-radius: 20px;
  color: white;
  padding: 20px;
  -webkit-box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.45);
  box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .app-box h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  margin-bottom: 5px;
}

main .app-box p {
  font-family: 'Noto Sans', sans-serif;
}

main .app-box hr {
  color: white;
}

main .app-box button {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-image: radial-gradient(circle 827px at 47.3% 48%, white 0%, #8ac0d8 90%);
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .app-box button img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

main .app-box button:hover {
  background: #87cccf;
  /* fallback for old browsers */
  -webkit-box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.45);
  box-shadow: 6px 6px 15px -3px rgba(0, 0, 0, 0.45);
}

main .app-box1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: box1;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

main .app-box2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: box2;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

main .app-box3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: box3;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=index.css.map */